LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "btn" SITE "M13";
IOBUF PORT "btn" IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "F3";  # J1-1  HUB75-R0
LOCATE COMP "led[1]" SITE "F1";  # J1-2  HUB75-G0
LOCATE COMP "led[2]" SITE "G3";  # J1-3  HUB75-B0
LOCATE COMP "led[3]" SITE "K2";  # J1-12 HUB75-D
LOCATE COMP "led[4]" SITE "P11"; # LED - DATA_LED-
LOCATE COMP "led[5]" SITE "G2";  # J1-5  HUB75-R1
LOCATE COMP "led[6]" SITE "H3";  # J1-6  HUB75-G1
LOCATE COMP "led[7]" SITE "H5";  # J1-7  HUB75-B1

IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33;
